/* Design of a card */
body {
  overflow: hidden;
}

.dvCard {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #888888;
}

.dvImage {
  width: 100%;
  height: 300px;
  text-align: center;
  line-height: 300px;
}

.image {
  width: inherit;
  vertical-align: middle;
  height: inherit;
  object-fit: none;
  object-position: center;
}

/* Design of a card */
.card {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transform-origin: 50% 99%;
  transform-origin: 50% 99%;
}
.cardcontainer {
  padding: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.clearBoth {
  clear: both;
}

.cardcontainer .cardlist {
  width: 300px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
}

.dvButtons {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  margin-top: 40px;
}

.button {
  float: left;
  width: 75px;
  height: 75px;
  font-size: 50px;
  text-align: center;
  line-height: 75px;
  border: 10px solid gainsboro;
  border-radius: 50%;
  margin-left: 35px;
}

.like {
  color: green;
  font-size: 40px;
}

.nope {
  color: red;
}

.list .card {
  margin-top: -113%;
  background: white;
  position: relative;
  z-index: 0
}

.list .current {
  display: block;
  margin-top: 0;
}

.card:nth-child(1) {
  z-index: 3;
}

.card:nth-child(2) {
  z-index: 2;
}

.card:nth-child(3) {
  z-index: 1;
}

.card:nth-child(n+4) {
  display: none
}

.tag {
  display: none;
  margin-top: -250px;
  width: 90px;
  height: 50px;
  line-height: normal;
}

.addLikeTag .likeTag {
  display: block;
  transform: rotate(-20deg);
  margin-left: 30px;
  color: green;
  font-size: 40px;
  border: 5px solid green;
}

.addNopeTag .nopeTag {
  display: block;
  transform: rotate(20deg);
  margin-left: 175px;
  color: red;
  font-size: 40px;
  border: 5px solid red;
}

.nopeSelected.nopeTag {
  display: block;
  transform: rotate(20deg);
}

.cardcontainer .card.likeSelected {
  -webkit-animation: likeAnimate 0.5s ease-out;
  animation: likeAnimate 0.5s ease-out;
}
.cardcontainer .card.nopeSelected {
  -webkit-animation: nopeAnimate 0.5s ease-out;
  animation: nopeAnimate 0.5s ease-out;
}

@keyframes likeAnimate {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(20deg) translateY(-200px) translateX(500px);
    opacity: 0;
  }
}

@-webkit-keyframes likeAnimate {
  from {
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(20deg) translateY(-200px) translateX(500px);
    opacity: 0;
  }
}

@keyframes nopeAnimate {
  from {
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    transform: rotate(-20deg) translateY(-200px) translateX(-500px);
    opacity: 0;
  }
}

@-webkit-keyframes nopeAnimate {
  from {
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }
  to {
    -webkit-transform: rotate(-20deg) translateY(-200px) translateX(-500px);
    opacity: 0;
  }
}